<% pageIndex = 1 %>

<% wordGroups.forEach(function(wordGroup, letterIndex) { %>
        
        <% wordGroup.wordChunks.forEach(function(wordChunk, chunkIndex) { %>

            <div class="page">
            
                <% if (chunkIndex === 0) { %>
                    <h1 class="letter-heading"><%= wordGroup.letter %></h1>
                <% } %>
            
                <div class="word-chunk">
                    <% if (chunkIndex !== 0) { %>
                        <h2 class="word-heading"> <%= wordChunk.heading %> </h2>
                    <% } %>
                    <% wordChunk.words.forEach(function(word) { %>
                        <p class="word-row">
                            <span class="english"> <%= word.english %>  <span class="grammar"> <%= word.grammar %> </span> </span>
                            <span class="syriac"> <%= word.syriac.replace(/\+/g, ',') %> </span>
                        </p>
                    <% }); %>
                </div>

                <% if (chunkIndex === wordGroup.wordChunks.length - 1) { %>
                    <span class="letter-end"> END </span>
                <% } %>
                    
                <div class="footer"> <div> <%= pageIndex++ %> </div> </div>

            </div>

        <% }); %>
        
    </div>
<% }); %>

<style>
    .page {
        display: flex;
        flex-direction: column;
        page-break-after: always;
        padding: 100px;
        height: 900px;
    }

    .letter-end {
        font-size: 1.5em;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
    }

    .letter-heading {
        font-size: 3em;
        text-align: center;
        margin-top: 0px;
    }

    .word-heading {
        font-size: 1.5em;
        text-decoration: underline;
        margin-bottom: 40px;
    }

    .word-chunk:first-of-type {
        padding: 0px;
    }

    .word-chunk {
        padding: 50px 0px;
    }

    .word-row {
        display: flex;
        justify-content: space-between;
    }

    .footer {
        font-size: 1.5em;
        font-weight: 600;
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    @font-face {
      font-family: 'East Syriac Marcus Regular';
      src: url({templates/fonts/EASTSM.TTF});
    }

    .english {
        font-size: 1.3em;
    }
    .grammar {
        font-size: 0.75em;
        font-style: oblique;
        margin-left: 1em;
    }
    .syriac {
        font-family: 'East Syriac Marcus Regular';
        direction: rtl;
        font-size: 1.6em;
    }
</style>